@media all and (max-width: 1000px) {
    .lessons{
    flex-wrap: wrap;
   }
    .lesson {
      width: 50%;
      margin-bottom: 50px;
    }
    
    .top-wrapper h1 {
      font-size: 32px;
    }
    
    .heading h2 {
      font-size: 20px;
    }
    
  }
  
  @media all and (max-width: 670px) {
    .lessons {
      flex-direction: column;
    }

    .lesson {
      width: 100%;
    }
    
   .header-right {            
    display: none;            
    }            
    
    footer {
      text-align: center;
    }
  
   .menu-icon {            
     display: block;
    }
    
    .btn {
      width: 100%;
    }
    
    .top-wrapper {
      text-align: left;
    }
    
    .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
    }
    
    .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
    }
  }
